.MainContainer{
    display: flex;
    flex-direction: column;
}
.MainBody{
    background-color: beige;
    display: flex;
    justify-content: space-between;
}
.MainBodySec1{
    width: 28%;
    margin-top: 2%;
    margin-left: 1%;
}
.MainBodySec2{
    width: 58%;
    margin-left: 1%;
    margin-top: 2%;
}
.MainBodySec3{
    width: 18%;
    margin-left: 1%;
    margin-top: 2%;
}
#imageNopic{
    width: 70%;
    margin-left: 15%;
    margin-top: 5%;
}
.flexdivsec{
    display: flex;
    justify-content: space-between;
}
