.MainContainer{
    display: flex;
    flex-direction: column;
}
.MainBody{
    background-color: beige;
    display: flex;
    justify-content: space-between;
}
.MainBodySec1{
    width: 20%;
    margin-top: 2%;
    margin-left: 1%;
}
.MainBodySec2{
    width: 60%;
}
.MainBodySec3{
    width: 20%;
}
.card-img-top{
    width: 36%;
    margin-left: 25%;
    margin-top: 8%;
}